h1 {
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.bg-warning {
    background-color: #ffc107!important;
}
.d-flex {
    display: flex!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}